@media (max-width: 426px) {
.gatito img{
    width: 25em;
}

.title{
    margin-bottom: 10em;
    background: #141414;
    position: relative;
    z-index: 2;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 80px;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 0.7em;
    text-align: center;
}
}
